@{             
    DBO.User user = ViewBag.user;

    if (User.Identity.Name == user.Name)
    {
        ViewBag.Title = "Ma page Personnelle";
    }
    else
    {
        ViewBag.Title = "Page Personnelle de " + user.Name;
    }

    List<DBO.Recette> recettes = BM.Recette.GetRecetteByUser(user);
    List<DBO.Note> notes = BM.Note.GetNoteByUser(user);
    List<DBO.Commentaire> commentaires = BM.Commentaire.GetCommentaireByUser(user);
    List<DBO.Conseil> conseils = BM.Conseil.GetConseilByUser(user);
}
<div id="content">
    <h1>@ViewBag.Title</h1>
    @if (User.Identity.Name == user.Name)
    {
        <div class="add_link multiple">
            @Html.ActionLink("Créer une recette", "Creation", "Recette")
            @Html.ActionLink("Créer un conseil", "Creation", "Conseil")
            @Html.ActionLink("Changer de mot de passe", "ChangePassword", "Account")
        </div>
    }
    @if (User.Identity.Name == user.Name)
    {
        <h3>
            Mes recettes</h3>
    }
    else
    {
        <h3>
            Ses recettes</h3>
    }
    @if (recettes.Count == 0)
    {
        <p>
            Pas de recettes</p>
    }
    else
    {
        foreach (DBO.Recette recette in recettes)
        {
        <div>
            <ul>
                <li>@Html.ActionLink(recette.Nom, "Fiche", "Recette", new { id = recette.Id }, null)</li>
            </ul>
        </div>
        }
    }
    @if (User.Identity.Name == user.Name)
    {
        <h3>
            Mes notes</h3>
    }
    else
    {
        <h3>
            Ses notes</h3>
    }
    @if (notes.Count == 0)
    {
        <p>
            Pas de notes</p>
    }
    else
    {
        <ul>
            @foreach (DBO.Note note in notes)
            {
                <li>
                    <ul id="stars2">@Html.Raw(HttpUtility.HtmlDecode(BM.Note.GetNoteHtml(BM.Note.GetNoteTotaleByRecette(BM.Recette.GetRecetteById(note.idRecette)))))</ul>
                    @Html.ActionLink(BM.Recette.GetRecetteById(note.idRecette).Nom, "Fiche", "Recette", new { id = note.idRecette }, null)
                </li>
            }
        </ul>
    }
    @if (User.Identity.Name == user.Name)
    {
        <h3>
            Mes commentaires</h3>
    }
    else
    {
        <h3>
            Ses commentaires</h3>
    }
    @if (commentaires.Count == 0)
    {
        <p>
            Pas de commentaires</p>                
    }
    else
    {
        <div class="comments">
            <ul class="comment">
                @foreach (DBO.Commentaire commentaire in commentaires)
                {
                    <li><span class="user_link">
                        @Html.ActionLink(BM.Recette.GetRecetteById(commentaire.idRecette).Nom, "Fiche", "Recette",
                                                new { id = commentaire.idRecette }, null)
                    </span><span class="date">@commentaire.DateCreation</span>
                        <p>@commentaire.Text</p>
                    </li>
                }
            </ul>
        </div>
    }
    @if (User.Identity.Name == user.Name)
    {
        <h3>
            Mes conseils</h3>
    }
    else
    {
        <h3>
            Ses conseils</h3>
    }
    @if (conseils.Count == 0)
    {
        <p>
            Pas de conseils</p>
    }
    else
    {
        <ul>
            @foreach (DBO.Conseil conseil in conseils)
            {
                <li>@Html.ActionLink(conseil.Nom, "Fiche", "Conseil", new { id = conseil.Id }, null)</li>
            }
        </ul>
    }
</div>
