@model ChefDotNet.Models.RecetteModel
@{
    ViewBag.Title = "Création d'une recette"; 
	List<DBO.Ingredient> ingredients = new List<DBO.Ingredient>();
}
@using (Html.BeginForm())
{
    <div id="content">
        <h1>@ViewBag.Title</h1>

        <div class="editor-label">
            <span class="etoile">*</span>
            @Html.LabelFor(m => m.Nom)            
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Nom)
            @Html.ValidationMessageFor(m => m.Nom)
        </div>
        <div class="editor-label">
            <span class="etoile">*</span>
            @Html.LabelFor(m => m.Intro)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(m => m.Intro, new { @cols = 50, @rows = 3 })
            @Html.ValidationMessageFor(m => m.Intro)
        </div>
		<div class="editor-label">
            <span>Ingredients</span>
			@foreach (DBO.Ingredient ingredient in ingredients)
            {  
                <li>
                    <p>@ingredient.Nom</p>
                </li>
            }
        </div>
        <div class="editor-label">
            <span class="etoile">*</span>
            @Html.LabelFor(m => m.Realisation)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(m => m.Realisation, new { @cols = 50, @rows = 10 })
            @Html.ValidationMessageFor(m => m.Realisation)
        </div>
        <div class="editor-label">
            <span class="etoile">*</span>
            @Html.LabelFor(m => m.TempsPreparation)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.TempsPreparation)
            @Html.ValidationMessageFor(m => m.TempsPreparation)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.TempsCuisson)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.TempsCuisson)
            @Html.ValidationMessageFor(m => m.TempsCuisson)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.TempsRepos)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.TempsRepos)
            @Html.ValidationMessageFor(m => m.TempsRepos)
        </div>
        <div class="editor-label">
            <span class="etoile">*</span>
            @Html.LabelFor(m => m.CategorieList)
        </div>
        <div class="editor-field">
           @Html.DropDownListFor(x => x.CategorieSelected, Model.CategorieList)
        </div>
        <div class="editor-label">
            <span class="etoile">*</span>
            @Html.LabelFor(m => m.DifficulteList)
        </div>
        <div class="editor-field">
           @Html.DropDownListFor(x => x.DifficulteSelected, Model.DifficulteList)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Photo)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Photo)
            @Html.ValidationMessageFor(m => m.Photo)
        </div>        

        <p>
            @Html.ValidationSummary(true, "Echec de la création de la recette.")
        </p>
    
        <p>
            <input type="submit" value="Créer" />
        </p>
    </div>
}