<div class="recette">
    @{
        DBO.Recette recette = ViewBag.recette;
        ViewBag.Title = "Recette";

        DBO.User user = BM.User.GetUserById(recette.idCreateur);
        List<DBO.Ingredient> ingredients = BM.Ingredient.GetIngredientByRecette(recette);
        List<DBO.Commentaire> commentaires = BM.Commentaire.GetCommentaireByRecette(recette);
        int noteTotale = BM.Note.GetNoteTotaleByRecette(recette);
        int i = 0;
        int j = 4;
        if (recette.Difficulte == "Débutant")
        { i = 1; }
        else if (recette.Difficulte == "Intermédiaire")
        { i = 2; }
        else if (recette.Difficulte == "Expérimenté")
        { i = 3; }
        else if (recette.Difficulte == "Expert")
        { i = 4; }
        j = 4 - i;
           
    }
    <span class="decoration_title"></span>
    <h2>@recette.Nom</h2>
    <span class="quantite">Pour 4 personnes</span>
    <ul id="difficulty">
        @for (; i > 0; i--)
        {
            <li class="spoon full"></li>
        }
        @for (; j > 0; j--)
        {
            <li class="spoon empty"></li>
        }
    </ul>
    <ul class="temps">
        @if (recette.TempsPreparation != 0)
        {            
            <li>Préparation : @recette.TempsPreparation min. </li>
        }
        @if (recette.TempsCuisson != 0)
        {
            <li>- Cuisson : @recette.TempsCuisson min. </li>
        }
        @if (recette.TempsRepos != 0)
        {
            <li>- Repos : @recette.TempsRepos min.</li>
        }
    </ul>
    <img class="photo_recette" src="@recette.Photo" alt="@recette.Nom"/>
    <div class="recette_intro">
        <ul id="stars">@Html.Raw(HttpUtility.HtmlDecode(BM.Note.GetNoteHtml(BM.Note.GetNoteTotaleByRecette(recette))))</ul>
        <span class="origine">Origine : Française</span>
        <span class="categorie">Catégorie : @recette.Categorie</span>
        <span class="user">Par @user.Name</span>
        <p>@recette.Intro</p>
    </div>
    <div class="description">
        <h3>
            Ingrédients</h3>
        <ul class="ingredient">
            @foreach (DBO.Ingredient ingredient in ingredients)
            {
                <li>
                    @ingredient.Nom
                </li>
            }
        </ul>
    </div>
    <div class="description">
        <h3>
            Réalisation</h3>
        <p>@recette.Realisation</p>
    </div>
    <div class="description">
        @Html.Partial("_VotreNote", new ChefDotNet.Models.NoteModel())    
    </div>
</div>
<div class="comments">
    <h3>
        Commentaires</h3>
    @if (commentaires.Count != 0)
    {
        <ul class="comment">
            @foreach (DBO.Commentaire commentaire in commentaires)
            {
                DBO.User commentaireUser = BM.User.GetUserById(commentaire.idUser);   
                <li><span class="user_link">@Html.ActionLink(commentaireUser.Name, "Index", "PagePersonnelle", new { id = commentaireUser.Id }, null)</span>
                    <span class="date">@commentaire.DateCreation</span>
                    <p>@commentaire.Text</p>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="comments">
            <ul class="comment">
                <li>Pas encore de commentaires pour cette recette.</li>
            </ul>
        </div>
    }
    @Html.Partial("_Commentaire")
</div>
