<div class="recette">
    @{
        DBO.Recette recette = ViewBag.recette;
        ViewBag.Title = "Recette";

        DBO.User user = BM.User.GetUserById(recette.idCreateur);
        List<DBO.Ingredient> ingredients = BM.Ingredient.GetIngredientByRecette(recette);
        List<DBO.Commentaire> commentaires = BM.Commentaire.GetCommentaireByRecette(recette);
        DBO.NoteTotale noteTotale = BM.Note.GetNoteTotaleByRecette(recette);     
    }
    <h2>@recette.Nom</h2>
    <span class="quantite">Pour 4 personnes</span>
    <ul id="difficulty">
        <li class="spoon full"></li>
        <li class="spoon full"></li>
        <li class="spoon full"></li>
        <li class="spoon full"></li>
        <li class="spoon empty"></li>
    </ul>
    <ul class="temps">
        <li>Préparation : @recette.TempsPreparation - </li>
        <li>Cuisson : 10 min. - </li>
        <li>Repos : 2 h.</li>
    </ul>
    <img class="photo_recette" src="@recette.Photo" alt="@recette.Nom"/>
    <div class="recette_intro">
        <ul id="stars">
            <li class="star full"></li>
            <li class="star full"></li>
            <li class="star full"></li>
            <li class="star full"></li>
            <li class="star empty"></li>
        </ul>
        <span class="origine">Origine : Française</span> <span class="user">Par @user.Name</span>
        <p>@recette.Intro</p>
    </div>
    <div class="description">
        <h3>
            Ingrédients</h3>
        <ul>
            @foreach (DBO.Ingredient ingredient in ingredients)
            {
                <li>
                    @ingredient.Nom
                </li>
            }
        </ul>
    </div>
    <div class="description">
        <h3>
            Réalisation</h3>
        <p>@recette.Realisation</p>
    </div>
</div>
<div class="comments">
    <h3>
        Commentaires</h3>
    <ul class="comment">
        @foreach (DBO.Commentaire commentaire in commentaires)
        {
            DBO.User commentaireUser = BM.User.GetUserById(commentaire.idUser);   
            <li><span class="user_link">@Html.ActionLink(commentaireUser.Name, "Index", "PagePersonnelle", new { id = commentaireUser.Id }, null)</span>
                <span class="date">@commentaire.DateCreation</span>
                <p>@commentaire.Text</p>
            </li>
        }
    </ul>
    @Html.Partial("_Commentaire")
</div>
