@model ChefDotNet.Models.CommentaireModel
@if (!Request.IsAuthenticated)
{
     <p class="consigne">
        Vous devez vous connecter pour poster un commentaire :
        @Html.ActionLink("Se connecter", "LogOn", "Account") / @Html.ActionLink("S'enregistrer", "Register", "Account")
     </p>
}
else
{
    <text>
    @using (Html.BeginForm())
    {    
        <input type='hidden' name='recetteId' value='@ViewBag.recette.Id'/>       
        <div class="create_comment">
            <div class="editor-label">
                @Html.LabelFor(m => m.Texte)
                <span class="etoile">*</span>
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.Texte)
                @Html.ValidationMessageFor(m => m.Texte)                
            </div>

            @Html.ValidationSummary(true, "Echec de la création du commentaire.")
            
            <p class="champ_obligatoire">Champs obligatoires <span class="etoile">*</span>
            </p>
            
            <input type="submit" value="Créer" />
            
        </div>
    }
    </text>
}
