<div id="title">
    <h1>@ViewBag.Title</h1>
</div>

<div id="menucontainer">
    <ul id="menu">
        <li>@Html.ActionLink("Accueil", "Index", "Accueil")</li>
        <li>@Html.ActionLink("Recettes", "Index", "Recette")</li>
        <li>@Html.ActionLink("Conseils", "Index", "Conseil")</li>
        <li>@Html.ActionLink("Page Personnelle", "Index", "PagePersonnelle")</li>
    </ul>
</div>

<div id="logindisplay">
    @Html.Partial("_LogOnPartial")
</div>

@Html.ActionLink("autre personne", "Index", "PagePersonnelle", new { id = "1" }, null)
@Html.ActionLink("une recette", "Fiche", "Recette", new { id = "1" }, null)
@Html.ActionLink("un conseil", "Fiche", "Conseil", new { id = "1" }, null)