@model ChefDotNet.Models.IngredientModel
<text>
@using (Html.BeginForm())
{    
    <input type='hidden' name='recetteId' value='@ViewBag.recette.Id'/>       
    <div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Nom)
            <span class="etoile">*</span>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Nom)
            @Html.ValidationMessageFor(m => m.Nom)
        </div>

        <p>
            @Html.ValidationSummary(true, "Echec de la création du commentaire.")
        </p>

        <p>
            Champs obligatoires <span class="etoile">*</span><br/>
            <input type="submit" value="Créer" />
        </p>
    </div>
}
</text>
